matplotlib
numpy
pandas==2.1.4
# pyspark==2.4.1
findspark
jupyterlab
pykml
pyodbc
geoalchemy2
plotly
shapely
jupyter
tqdm
pandarallel
scikit-learn
pymssql
pyarrow
fastparquet
pymysql
SQLAlchemy==1.4.54
python-dotenv
