matplotlib
numpy
pandas==2.1.4
jupyterlab
pykml
pyodbc
geoalchemy2
plotly
shapely
jupyter
tqdm
pandarallel
scikit-learn
pymssql
pyarrow
pymysql
SQLAlchemy==1.4.54
python-dotenv
geopandas
cryptography
pytest
